* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box {
  padding: 30px 0 0 30px;
}
.menu {
  background-color: #656565;
  width: 20%;
}
ul {
  list-style-type: none;
}
.onglets {
  height: 60px;
  width: 60px;
  background-color: #656565;
  border: 1px solid #000;
  transition: 1s;
  color: #656565;
}
.onglets:nth-child(1) {
  background-color: #3d3c3c;
  color: #3d3c3c;
}

img {
  width: 50px;
  height: 50px;
}
.icon {
  position: absolute;
  z-index: 0;
}
.image {
  position: absolute;
  z-index: 1;
  padding: 5px;
}

.onglets:hover {
  /* height: 60px;
  width: 80px; */
  background-color: rgb(247, 239, 239);
  border: 1px solid #000;
  color: #fff;
}
.onglets p {
  height: 60px;
  width: 80px;
  transition: 0.5s;
  /* color: #656565; */
  padding: 10px;
}

.onglets:hover p {
  background-color: #656565;
  color: #fff;
  height: 60px;
  width: 80px;
  transform: translateX(60px);
  border: 1px solid #000;
}
